<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="pink">
    <center>
        <table border="2px">
        <thead ><h2 style="color:rgb(172, 75, 75)">DISPLAY ACCESS RECORDS</h2></thead>
        <tr style="background-color:rgb(133, 215, 248)">
            <th>NAME</th>
            <th>DATE</th>
        </tr>
        {% for a in records %}
        <tr>
            <td>{{a.name}}</td>
            <td>{{a.date}}</td>
        </tr>
        {% endfor %}
    </table>
    </center>
</body>
</html>